<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/css/pedido_detalhes.css">
    <title>Document</title>
</head>
<body>
        <main>
            <div class="ppdido">
                <h2>Detalhes do seu pedido:</h2>
                {{#each pedido}}
                    <p>Nome do produto: {{item_pedido}}</p>
                    <p>Preço por unidade: R${{preco_item}}</p>
                    <p>Unidades: {{quantidade_item}}</p>
                {{/each}}
            </div>
        </main>
</body>
</html>