<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/css/index.css">
    <link rel="stylesheet" href="/views/components/css/pedirRec.css">
    <title>Document</title>
</head>
<body>
    <header>
            <a href="/"><h3>NOME/IMAGEM LOJA</h3></a>
    </header>

    <main>
        <form action="/rec_senha" method="post">
        <p>coloque o e-mail da conta que deseja recuperar a senha.</p>
        <h4>EMAIL</h4>
        <input type="text" name="email" id="senderEmail">
        <button class="btn btn-primary" id="btn">ENVIAR PEDIDO DE RECUPERAÇÃO</button>
    </form>
    </main>
    
    <footer>
        <p>E-mail: samaracgrande@gmail.com</p>
    </footer>

</body>
</html>