select{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    font-size: 125%;
}
footer{
    background-color: brown;
    padding: 2.5%;
    margin-top: 2.5%;
}
footer p{
    color: white;
}

@media(max-width: 425px){
    form{
        width: 90%;
        height: 900px;
    }
    form input{
        width: 80%;
    }
}
